# ignore all
/*
/.**

# white list
!/setup_scripts/
!/setup_scripts/**
!/.vimrc
!/.tmux.conf
!/.gitconfig
!/oh-my-posh/
!/oh-my-posh/theme/
!/oh-my-posh/theme/**
!/AutoHotkey/
!/AutoHotkey/**
!/iTerm2/
!/iTerm2/**

!.gitignore
