[user]
	name = {{ (bitwarden "item" "GitHub").login.username }}
	email = {{ (bitwardenFields "item" "GitHub").noreply_email.value }}
[init]
	defaultBranch = main
[core]
	editor = vim -c \"set fenc=utf-8\"
[alias]
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
