#!/bin/bash

SSH_DIR="$HOME/.ssh"
SSH_KEY_PATH="$SSH_DIR/id-ed25519-github"

echo {{ (bitwardenFields "item" "36c16dfe-c070-423e-8121-b0cd00a38251").token.value | quote }} > $TMPDIR/github_token.txt

gh auth login --with-token < $TMPDIR/github_token.txt

rm $TMPDIR/github_token.txt

if [ ! -f "$SSH_KEY_PATH" ]; then
	echo "Generate ssh key"
	ssh-keygen -t ed25519 -C {{ (bitwardenFields "item" "36c16dfe-c070-423e-8121-b0cd00a38251").noreply_email.value | quote }} -f "$SSH_KEY_PATH"

	{{ if eq .chezmoi.os "darwin" -}}
	eval "$(ssh-agent -s)"
	if [ ! -f $SSH_DIR/config ]; then
		touch "$SSH_DIR/config"
	fi

	cat <<EOF >> "$SSH_DIR/config"
Host github.com
	AddKeysToAgent yes
	UseKeychain yes
	IdentityFile ~/.ssh/id-ed25519
EOF

	ssh-add --apple-use-keychain "$SSH_KEY_PATH"
	{{- end }}
else
	echo "ssh key already exists: $SSH_KEY_PATH"
fi

echo "Register public key to GitHub"
gh ssh-key add "$SSH_KEY_PATH.pub" -t {{ .chezmoi.hostname | quote }}
